/* Controls the global styling of the portfolio. */
html{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* #region Navbar-css */
    .navbar{
        display:flex;
        justify-content: space-between;
    }

    .navbar ul{
        list-style-type:none;
        display:flex;
        margin:15px;
        padding:0;
    }

    .navbar-link a{
        text-decoration: none;
        margin: 10px;
        margin-top: 0px;
        color: black;
    }

    #logo{
        min-width: 54.4px;
        min-height: auto;
    }
    
    .navbar a:hover, #navbar-resume-download a:hover{
        color:red;
        cursor: pointer;
    }

    #navbar-resume-download{
        display:flex;
    }

    #navbar-resume-download a{
        text-decoration: none;
        margin:10px;
        margin-right: 3px;
        margin-top: 0px;
        color: black;
    }

    #download-icon{
        max-height: 1.2em;
        width: auto;
    }
/* #endregion */

.container{
    width:90%;
    margin: auto;
}