---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<script src = "../scripts/sendEmail.js"></script>
<Layout>
    <h1 id = "email-header"> Get in touch! </h1>
    <form method = "POST" id = "email-form">
        <input type = "hidden" name = "access_key" value = "38a2d4b1-e088-40c8-b7af-7758ce8c1723">
        <input type = "text" id = "name" name = "name" placeholder = "Full Name..." required>
        <input type = "email" id = "email" name = "email" placeholder ="Email Address...    " required>
        <textarea id = "message" name = "message" placeholder = "Your Message..." required></textarea>
        <button id = "submit" type = "submit">Send</button>
        <div id = result></div>
    </form>
</Layout>