---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<!-- Controls the layout of the Index/home page. -->
<Layout>
    <div id = "projects-wrapper">
        <h1> Projects </h1>
    </div>
</Layout>