---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import ProjectCard from '../components/projectCard.astro';
import placeholder from '../../public/placeholder.svg';
---
<!-- Controls the layout of the Index/home page. -->
<Layout>
    <div id = "projects-wrapper">
        <ProjectCard
            imageLink = {placeholder.src}
            title = "NoRush (Ongoing)"
            tags = "ExpoJS ExpressJS TypeScript MySQL"
            description = "A route planner app with a focus on creating and sharing routes within the app. Users will be able to form groups and share them in chats, allowing for easy communication between drivers and businesses."
            demoLink = "https://github.com/6SEVANS/NoRush" 
            repoLink = "https://github.com/6SEVANS/NoRush"
        />
    </div>
</Layout>