---
import '../styles/global.css'
import {Image} from 'astro:assets';
import githubIcon from '../../public/github-mark-white.svg';
import inIcon from '../../public/InBug-White.png';
---
<!-- Controls the footer of the website. -->
<footer>
    <div class = "footer">
        <ul>
            <li>
                <a href = "https://www.linkedin.com/in/sam-evans-b2b064375">
                    <Image id = "in-icon" src = {inIcon} alt = "LinkedIn Logo"/>
                </a>
            </li>
            <li> 
                <a href = "https://github.com/6SEVANS">
                    <Image id = "github-icon" src = {githubIcon} alt = "Github logo"/>
                </a>
            </li>
        </ul>
    </div>
</footer>