---
import '../styles/global.css';
import {Image} from 'astro:assets';
import downloadIcon from '../../public/download_icon.svg';
---
<!-- Controls the Navbar of the portfolio. -->
<script src = "../scripts/navbar.js"></script>
<nav>
    <div class = "navbar" id = "navbar">
        <ul id = "navbar-links">
            <li id = "logo-item">
                <a href = "/">
                    <img id = "logo" src = "../../Logo.svg">
                </a>
            </li>
            <li> <a href = "/projects"> Projects </a></li>
            <li> <a href = "/contact"> Contact </a></li>
            <li> 
                <a href = "https://www.w3schools.com/">
                    Resume <img id = "download-icon" src = "../../download_icon.svg">
                </a>
            </li>
        </ul>
        <div id = "burger-menu">
            <div class = "burger-bar"></div>
            <div class = "burger-bar"></div>
            <div class = "burger-bar"></div>
        </div>
    </div>
</nav>

