---

---

<!-- Controls the Navbar of the portfolio. -->
<nav>
    <div class = "navbar-links">
        <a href = "/"> Home </a>
        <a href = "https://www.w3schools.com/"> Test link</a>
    </div>
</nav>

