---
import Navigation from '../components/navbar.astro';
import Footer from '../components/footer.astro';
import '../styles/global.css';
---

<!-- Controls the global layout of the portfolio. -->
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>SEVANS Portfolio</title>
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
		</style>
	</head>

	<script src = "../scripts/navbar.js"></script>
	<body>
		<div class = "wrapper">
			<header>
				<Navigation/>
			</header>
			<div id = "body-wrapper">
				<slot/>
			</div>
			<footer>
				<Footer/>
			</footer>
		</div>
	</body>
</html>